/sigurd/nib_augsburg/extracted_nib_a/
/sigurd/nib_augsburg/extracted_nib_b/
/sigurd/nib_augsburg/extracted_nib_c/
/sigurd/nib_augsburg/extracted_nib_n/
/sigurd/nib_augsburg/nib_a_00/
/sigurd/nib_augsburg/nib_b_00/
/sigurd/nib_augsburg/nib_c_00/
/sigurd/nib_augsburg/nib_n_00/
/sigurd/nib_augsburg/nib_a.txt
/sigurd/nib_augsburg/nib_b.txt
/sigurd/nib_augsburg/nib_c.txt
/sigurd/nib_augsburg/nib_n.txt
/sigurd/nib_marburg/rem-corralled-20161222
