/sig/nib_augsburg/extracted_nib_a/
/sig/nib_augsburg/extracted_nib_b/
/sig/nib_augsburg/extracted_nib_c/
/sig/nib_augsburg/extracted_nib_n/
/sig/nib_augsburg/nib_a_00/
/sig/nib_augsburg/nib_b_00/
/sig/nib_augsburg/nib_c_00/
/sig/nib_augsburg/nib_n_00/
/sig/nib_augsburg/nib_a.txt
/sig/nib_augsburg/nib_b.txt
/sig/nib_augsburg/nib_c.txt
/sig/nib_augsburg/nib_n.txt
